.wrap {
    overflow-x: scroll;
}

.top-menu-wrapper {
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #222222;
    color: #9D9D9D;
}

.top-menu {
    max-width: 1140px;
    min-width: 300px;
    margin: 0 auto;
    padding: 0;
}

.top-menu-wrapper ul:after {
    content: "";
    display: table;
    clear: both;
}

.top-menu > li {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    list-style: none outside none;
    vertical-align: middle;
}

.top-menu .foldable,
.top-menu .foldable-last {
    float: left;
}

.top-menu > li a {
    display: block;
    height: 50px;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 50px;
    color: #9D9D9D;
}

.top-menu .glyphicon {
    display: none;
    line-height: 50px;
}

.top-menu .active {
    background-color: #080808;
}

.top-menu .active a {
    color: #FFFFFF;
}

.top-menu .brand {
    float: left;
    font-size: 18px;
}

.top-menu .brand a {
    padding-left: 0;
}

.top-menu a:hover,
.top-menu a:focus,
.top-menu a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.top-menu .right {
    float: right;
}

.top-menu .dropdown {
    position: relative;
    padding-left: 15px;
    padding-right: 25px;
}

.top-menu .dropdown {
    cursor: pointer;
}

.top-menu .dropdown:after {
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -1px;
    vertical-align: middle;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid;
}

.top-menu .dropdown > ul {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    margin: -1px 0 0;
    padding: 5px 0;
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0 0 4px 4px;
    list-style: outside none none;
    font-size: 14px;
    text-align: left;
    color: #FFFFFF;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}

.top-menu .dropdown .dropdown {
    color: #333;
    padding: 3px 20px;
    line-height: 20px;
}

.top-menu .dropdown .dropdown:hover {
    background-color: #F5F5F5;
    color: #262626;
    text-decoration: none;
}

.top-menu .dropdown .dropdown:hover ul {
    right: -100%;
    top: 0;
    display: block !important;
}

.top-menu .dropdown:hover,
.top-menu .dropdown:focus,
.top-menu .dropdown:active {
    color: #FFFFFF;
}

.top-menu .show-glyphicon {
    padding-right: 0;
}

.top-menu .show-glyphicon:after {
    content: none;
}

.top-menu .show-glyphicon .with-glyphicon {
    display: none;
}

.top-menu .show-glyphicon .glyphicon {
    display: block;
    height: auto;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 1px 12px;
    border: 1px solid #333333;
    border-radius: 7px;
    line-height: 30px;
    color: #FFFFFF;
}

.top-menu .show-glyphicon .glyphicon:hover,
.top-menu .show-glyphicon .glyphicon:focus,
.top-menu .show-glyphicon .glyphicon:active {
    background-color: #333333;
}

.top-menu .dropdown li {
    float: none;
}

.top-menu .dropdown > ul a {
    display: block;
    height: auto;
    padding: 3px 20px;
    clear: both;
    white-space: nowrap;
    line-height: 1.42857;
    color: #333333;
    font-weight: normal;
}

.top-menu .dropdown > ul a:hover,
.top-menu .dropdown > ul a:focus,
.top-menu .dropdown > ul a:active {
    background-color: #F5F5F5;
    color: #262626;
    text-decoration: none;
}

.top-menu .dropdown .active a {
    color: #262626;
    background-color: #F5F5F5;
}

.top-menu .more {
    padding-right: 0;
    display: none;
}

.top-menu .more .icon-bar {
    display: block;
    height: 2px;
    width: 22px;
    border-radius: 1px;
    background-color: #FFFFFF;
}

.top-menu .more .icon-bar {
    margin-top: 4px;
}

.top-menu .more .icon-bar:first-of-type {
    margin-top: 0;
}

.top-menu .more > div {
    height: auto;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 9px 10px;
    border: 1px solid #333333;
    border-radius: 7px;
    line-height: 30px;
}

.top-menu .more:hover > div,
.top-menu .more:focus > div,
.top-menu .more:active > div {
    background-color: #333333;
}

.top-menu .dropdown.more:after {
    content: normal;
}

.scroll-y {
    overflow-y: scroll;
}

.top-menu .dropdown .dropdown::after {
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -3px;
    vertical-align: middle;
    border-bottom: 4px solid #0000;
    border-top: 4px solid #0000;
    border-left: 4px solid;
}

@media (max-width: 1200px) {
    .top-menu {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 550px) {
    .top-menu .dropdown .dropdown::after {
        content: none;
    }

    .top-menu .dropdown > ul {
        position: fixed;
        top: 50px;
        width: 100%;
        border: medium none;
        border-top: 1px solid #9D9D9D;
        background: #222222;
    }

    .top-menu .dropdown > ul a {
        display: block;
        height: 50px;
        padding-right: 15px;
        padding-left: 15px;
        line-height: 50px;
        color: #9D9D9D;
    }

    .top-menu .dropdown > ul .active a {
        background-color: #080808;
        color: #FFFFFF;
    }

    .top-menu .dropdown > ul a:hover,
    .top-menu .dropdown > ul a:focus,
    .top-menu .dropdown > ul a:active {
        background: #222222;
        color: #FFFFFF;
        text-decoration: none;
    }

    .top-menu .dropdown .active a:hover,
    .top-menu .dropdown .active a:focus,
    .top-menu .dropdown .active a:active {
        background-color: #080808;
    }

    .top-menu .dropdown .dropdown {
        display: block;
        height: 50px;
        padding-right: 15px;
        padding-left: 15px;
        line-height: 50px;
        color: #9D9D9D;
    }

    .top-menu .dropdown .dropdown:hover {
        background: #222222;
        color: #FFFFFF;
        text-decoration: none;
    }

    .top-menu .dropdown .dropdown ul {
        display: block !important;
        position: static;
        box-shadow: none;
    }

    .top-menu .dropdown .dropdown li {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
    }
}
