html,
body {
    height: 100%;
}

.non-footer {
    min-height: 100%;
    height: auto;
    margin-bottom: -51px;
    padding-bottom: 51px;
}

.non-footer > .container {
    padding-top: 70px;
}

footer.navbar {
    margin-bottom: 0;
    border-width: 1px 0 0 0;
}

.navbar-text:first-child {
    margin-left: 0;
}

.navbar-text:last-child {
    margin-right: 0;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > form > button:hover {
    text-decoration: none;
}

.left50p {
    float: left;
    width: 49%;
}

.right50p {
    float: right;
    width: 49%;
}

.grid-view {
    margin-top: 2em;
}

.mce-fullscreen .top-menu-wrapper {
    display: none;
}

.update-status {
    min-width: 150px;
}

/* post */

.symbols a {
    border-bottom: 1px dashed transparent;
}

.symbols a:hover {
    border-bottom: 1px dashed;
    text-decoration: none;
}

.symbols > a {
    display: inline-block;
    margin-right: 6px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
}

.field-post-is_contain_video,
.field-post-video_duration,
.field-post-is_allow_footer,
.field-post-is_allow_comments,
.field-post-is_in_common_feed {
    display: inline-block;
}

.field-post-video_duration,
.field-post-is_allow_comments {
    padding-left: 20px;
}

.field-post-video_duration {
    vertical-align: top;
}

.field-post-folderids {
    margin-top: -15px;
    margin-bottom: 10px;
}

.field-post-folderids label {
    margin-bottom: 2px;
    line-height: 1;
    font-weight: normal;
}

.field-post-folderids legend {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 17px;
}

.field-post-folder_id_main {
    margin-bottom: 0;
}

.field-post-folder_id_main .help-block {
    margin-bottom: 0;
}

.dashed {
    border-bottom: 1px dashed;
}

.dashed:hover {
    text-decoration: none;
}

.text-center .btn {
    margin-bottom: 20px;
}

.table-wrapper {
    overflow-x: auto;
}

.table-filter {
    display: table-cell;
}

.table-filter .form-control {
    border-radius: 0;
}

.table-filter:first-child .form-control {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.table-filter-help {
    clear: left;
}

.ui-sortable-handle {
    cursor: move;
}
