.alert {
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 15px;
}

.alert-danger {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}

.alert-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}

.alert-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}

.alert-warning {
	background-color: #fcf8e3;
	color: #8a6d3b;
	border-color: #f5e79e;
}

.alert-dismissible {
	padding-right: 35px;
}

.alert-dismissible .close {
	float: right;
	position: relative;
	right: -21px;
	top: -2px;
	padding: 0;
	border: 0 none;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	color: inherit;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	opacity: 0.2;
	text-shadow: 0 1px 0 #ffffff;
	cursor: pointer;
}

.alert-dismissible .close:focus,
.alert-dismissible .close:hover {
	color: #000000;
	cursor: pointer;
	opacity: 0.5;
	text-decoration: none;
}