/*! normalize.css v4.2.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
    margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
    display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
    display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
    display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
    outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
    font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
    font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
    background-color: #ff0;
    color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
    border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
    margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font: inherit; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
    font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
    -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/* Page blocks
   ========================================================================== */

body {
    color: #333333;
}

.content-wrapper {
    position: relative;
    min-width: 320px;
}

.content:after {
    content: "";
    display: table;
    clear: both;
}

.narrow {
    width: 100%;
    max-width: 972px;
    margin: 0 auto;
}

/* First screen elements
   ========================================================================== */

/* common */

a {
    color: #0072BC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
}

.svg-container {
    position: absolute;
    top: -100000px;
}

svg {
    vertical-align: middle;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

/* header */

.site-header {
    margin-top: 30px;
    margin-bottom: 50px;
    padding-right: 240px;
}

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 30px;
}

.main-menu li {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.main-menu li.user-link {
    float: right;
    margin-right: 0;
}

.main-menu a,
.main-menu span {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    transition: color 0.3s ease-in-out;
}

.main-menu a:hover,
.main-menu a:active {
    text-decoration: none;
    color: #717171;
}

.main-menu span {
    cursor: pointer;
}

.main-menu ul {
    position: absolute;
    left: 0;
    display: none;
    margin: 0;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 9px 0 rgba(50, 50, 50, 0.5);
    z-index: 5;
}

.main-menu li:hover ul {
    display: block;
}

.main-menu ul li {
    display: block;
    white-space: nowrap;
}

/* footer */

.site-footer {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-footer:after {
    content: "";
    display: table;
    clear: both;
}

.search-form {
    position: absolute;
    top: 0;
    right: 0;
}

.search-form input {
    height: 30px;
    padding-left: 5px;
    padding-right: 35px;
    box-sizing: border-box;
    border: 1px solid #EDEDED;
    border-radius: 0;
    line-height: 28px;
}

.search-form button {
    position: relative;
    height: 30px;
    width: 30px;
    margin-left: -30px;
    border: none;
    background-color: #DADADA;
    line-height: 25px;
    transition: background-color 0.3s ease-in-out;
}

.search-form button:hover,
.search-form button:active {
    background-color: #E2E2E2;
}

.search-form button svg {
    fill: #333333;
    transition: fill 0.3s ease-in-out;
}

.search-form button:hover svg,
.search-form button:active svg {
    fill: #717171;
}

.copyright {
    float: right;
}

.copyright a {
    color: #333333;
}

.footer-links {
    display: inline-block;
    margin: 0 30px 0 0;
    padding: 0;
    list-style: none;
    vertical-align: top;
    font-size: 87.5%;
}

.footer-links li {
    margin-bottom: 5px;
}

/* forms */

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    line-height: inherit;
    border: 0;
}

label {
    display: inline-block;
}

.control-label {
    margin-bottom: 5px;
    font-weight: bold;
}

textarea {
    resize: vertical;
}

.form-group {
    margin: 1em 0;
}

.form-control {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 4px 7px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    font-size: inherit;
    line-height: inherit;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    color: #555555;
}

.form-control:focus {
    border-color: #66AFE9;
    outline: 0 none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

.has-error .help-block,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
    color: #A94442;
}

.has-error .form-control {
    border-color: #A94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.has-error .form-control:focus {
    border-color: #843534;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #CE8483;
}

.input-group > .form-group {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}

.input-group > .form-group:first-of-type {
    padding-left: 0;
}

.input-group > .form-group:last-of-type {
    padding-right: 0;
}

.form-group > .form-group:first-of-type {
    margin-top: 0;
}

.form-group > .form-group:last-of-type {
    margin-bottom: 0;
}

.input-group > .form-group > img {
    display: block;
    margin-bottom: 1em;
}

.hint-block {
    color: #9D9D9D;
}

.error-summary {
    margin: 10px 0;
}

.error-summary ul {
    margin: 0;
    padding: 0 97px 0 0;
    text-align: center;
    list-style: none;
}

.button-submit {
    display: inline-block;
    height: 30px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    border-radius: 25px;
    background-color: #EDEDED;
    line-height: 30px;
    color: #333333;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.button-submit:hover,
.button-submit:active {
    background-color: #E2E2E2;
    text-decoration: none;
}

/* post feed */

.post-feed-wrapper {
    width: 600px;
}

.post-feed article {
    margin-bottom: 40px;
}

.feed-nav {
    margin: 30px 0 50px;
    padding: 0;
    list-style: none;
}

.feed-nav li {
    display: inline-block;
    margin-right: 10px;
}

.feed-nav li:last-of-type {
    margin-right: 0;
}

.feed-nav a {
    display: block;
    height: 25px;
    padding-left: 15px;
    padding-right: 15px;
    border: 3px solid #DADADA;
    font-size: 93.75%;
    line-height: 25px;
    color: #333333;
    transition: border-color 0.3s ease-in-out;
}

.feed-nav .active a {
    border-color: #EDEDED;
}

.feed-nav a:hover,
.feed-nav a:active {
    border-color: #EDEDED;
    text-decoration: none;
}

.feed-nav h2 {
    font-size: inherit;
    font-weight: inherit;
    display: inline;
}

/* post */

.article-area article {
    width: 600px;
}

.article-area .icon-wrapper {
    margin-bottom: 20px;
}

.article-area > article > footer {
    margin-top: 20px;
    margin-bottom: 50px;
}

.article-area .article-info {
    color: #9D9D9D;
}

.article-area .article-info a {
    color: #9D9D9D;
}

.article-area .article-info svg {
    margin-right: 10px;
    margin-top: -4px;
    fill: #9D9D9D;
}

.article-area article time {
    margin-right: 20px;
}

.article-area article .share {
    display: block;
    margin-top: 20px;
}

.tags {
    padding: 0;
    list-style: none;
}

.tags li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tags li:last-of-type {
    margin-right: 0;
}

.tags a {
    display: block;
    height: 25px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #EDEDED;
    border-radius: 15px;
    font-size: 93.75%;
    line-height: 25px;
    color: #333333;
    transition: background-color 0.3s ease-in-out;
}

.tags a:hover,
.tags a:active {
    background-color: #E2E2E2;
    text-decoration: none;
}

.image-big {
    display: block;
    position: relative;
}

.image-big:after {
    content: "\e311";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    background: rgba(0, 0, 0, 0.6) no-repeat center center;
    border-radius: 10px;
    text-align: center;
    font-family: 'lg';
    font-size: 55px;
    line-height: 80px;
    color: #FFFFFF;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-big:hover:after {
    opacity: 1;
}

.video-js {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.video-js .vjs-tech {
    width: 100%;
    height: 100%;
}

.iframeblocker, .vjs-poster, .vjs-text-track-display, .vjs-big-play-button, .vjs-control-bar {
    display: none;
}

.vjs-ad-playing .vjs-progress-control {
    pointer-events: none;
}

.vjs-ad-playing .vjs-play-progress {
    background-color: #ffe400;
}

.vjs-ad-loading .vjs-loading-spinner {
    display: block;
}

.vast-skip-button {
    display: block;
    position: absolute;
    bottom: 9px;
    right: 0;
    width: auto;
    padding: 6px 4px;
    background-color: #030303;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #E6E6E6;
    z-index: 2;
}

.vast-skip-button.enabled {
    padding-left: 5px;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #828282;
    font-size: 14px;
    line-height: 10px;
    color: #FFFFFF;
    cursor: pointer;
}

.vast-skip-button.enabled:hover {
    border-color: #FFFFFF;
    cursor: pointer;
}

.vast-blocker {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* article similar */

.article-similar {
    max-height: 165px;
    margin: 4px 0;
    overflow: hidden;
}

.article-similar:after {
    content: "";
    display: table;
    clear: both;
}

.article-similar-arrow,
.article-similar time {
    background-color: #FFFFFF;
}

.article-similar a {
    position: relative;
    z-index: 1;
    display: block;
    padding-top: 17px;
    background-color: #FFFFFF;
    height: 118px;
    text-decoration: none;
}

.article-similar-arrow {
    width: 36px;
}

.article-similar-prev {
    float: left;
}

.article-similar-next {
    float: right;
}

.article-similar-arrow:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top: 12px;
    border-top: 46px solid transparent;
    border-bottom: 46px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.article-similar-prev:after {
    margin-left: 12px;
    border-right: 16px solid #B1B1B1;
}

.article-similar-next:after {
    margin-left: 8px;
    border-left: 16px solid #B1B1B1;
}

.article-similar-prev:hover:after,
.article-similar-prev:active:after {
    border-right-color: #9E9E9E;
}

.article-similar-next:hover:after,
.article-similar-next:active:after {
    border-left-color: #9E9E9E;
}

.article-similar > div {
    height: 135px;
    overflow: hidden;
}

.article-similar ul {
    box-sizing: border-box;
    margin-top: 0;
    padding: 0 0 0 4px;
    width: 100%;
}

.article-similar li {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding-right: 4px;
    list-style: none;
}

.article-similar ul a {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    color: #333333;
}

.article-similar .grabbing a {
    cursor: url(/images/grabbing.png) 8 8, move;
}

.article-similar ul a:hover {
    text-decoration: underline;
}

.article-similar ul h2 {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

.article-similar span {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 93.75%;
    line-height: 50px;
    padding-bottom: 5px;
    background-color: #FFFFFF;
}

.article-similar span:before,
.article-similar span:after {
    content: " – ";
    font-weight: bold;
}

/* comments */

.comments {
    padding-top: 26px;
}

.comments h5 {
    display: inline-block;
    font-size: 162.5%;
    line-height: 1;
    color: #222222;
    margin: 15px 0 25px 0;
}

#comments-to-form {
    margin-top: 15px;
    margin-left: 20px;
    vertical-align: top;
}

.comments article {
    min-height: 53px;
    margin: 10px 0 30px;
    padding-left: 65px;
    box-sizing: border-box;
}

.comments .poor {
    color: #727272;
    transition: color 0.3s ease-in-out
}

.comments .poor:hover {
    color: #333333;
}

.comments header {
    color: #333333;
}

.comments .level2 {
    padding-left: 105px;
}

.comments .level3 {
    padding-left: 145px;
}

.comments .comment-active .comment-text {
    border-radius: 3px;
    transition: background-color 0.6s ease-in-out;
}

.comments .comment-active .comment-text {
    padding: 10px;
    background-color: #FCF8E3;
}

.comments .author {
    font-size: 125%;
    line-height: 1.6;
    font-weight: bold;
    color: #333333;
}

.comments .author img {
    position: absolute;
    margin-top: 3px;
    margin-left: -65px;
    border-radius: 25px;
}

.comments time {
    margin-left: 0.385em;
    font-size: 93.75%;
    color: #9D9D9D;
}

.comments footer {
    padding-top: 4px;
}

.comments footer:after {
    content: "";
    display: table;
    clear: both;
}

.reply {
    float: left;
    padding-right: 8px;
    padding-left: 28px;
    border: 1px solid transparent;
    border-radius: 11px;
    font-size: 93.75%;
    line-height: 1.6;
    color: #9D9D9D;
    text-decoration: none;
}

.reply:hover {
    border-color: #E6E6E6;
    text-decoration: none;
}

.reply svg {
    margin: -9px -3px -4px -28px;
    fill: #9D9D9D;
}

.comments form .reply {
    display: none;
    float: right;
    margin: 4px 15px 0 -150px;
}

.comments .button-submit {
    margin-left: 189px;
    font-size: 93.75%;
}

.votes {
    float: left;
    margin-right: 10px;
    font-size: 93.75%;
    line-height: 1.666;
    vertical-align: middle;
    background-color: transparent;
    border-radius: 11px;
    color: #9D9D9D;
    transition: background-color 0.3s ease-in-out;
}

.votes:hover,
.votes.cant-vote {
    background-color: #F3F3F3;
}

.votes.vote-good:hover,
.votes.vote-good.cant-vote {
    background-color: #E5F1E3;
}

.votes.vote-bad:hover,
.votes.vote-bad.cant-vote {
    background-color: #F8E9E9;
}

.comments .votes form {
    margin: 0;
    padding: 0;
}

.votes svg {
    position: relative;
    top: -1px;
    width: 9px;
    height: 6px;
    vertical-align: middle;
    fill: #9D9D9D;
    transition: fill 0.3s ease-in-out;
}

.votes .value {
    display: inline-block;
    padding: 0 7px;
    border: 1px solid #FFFFFF;
    border-top: none;
    border-bottom: none;
    text-align: center;
    transition: border-color 0.3s ease-in-out;
}

.votes.cant-vote .value {
    transition: none;
}

.votes.cant-vote .value {
    padding: 0 10px;
    border-radius: 11px;
}

.votes.vote-good .value {
    color: #5D9854;
}

.votes.vote-bad .value {
    color: #D26B6B;
}

.votes:hover .value {
    border-color: #E6E6E6;
}

.votes.vote-good:hover .value {
    border-color: #CDE4CC;
}

.votes.vote-bad:hover .value {
    border-color: #EDD1D2;
}

.votes.cant-vote:hover .value {
    border-color: #FFFFFF;
}

.votes.vote-good:hover svg {
    fill: #5D9854;
}

.votes.vote-bad:hover svg {
    fill: #D26B6B;
}

.votes .vote-arrow {
    background: none;
    border: none;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.votes.cant-vote .vote-arrow {
    display: none;
}

.votes .vote-arrow:hover {
    background-color: #E6E6E6;
}

.votes.vote-good .vote-arrow:hover {
    background-color: #CDE4CC;
}

.votes.vote-bad .vote-arrow:hover {
    background-color: #EDD1D2;
}

.votes .vote-arrow:hover svg {
    fill: #828282;
}

.votes.vote-good .vote-arrow:hover svg {
    fill: #518549;
}

.votes.vote-bad .vote-arrow:hover svg {
    fill: #954D4D;
}

.vote-error {
    clear: both;
}

.votes .vote-arrow.up {
    padding-left: 7px;
    padding-right: 10px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

.votes .vote-arrow.down {
    padding-left: 10px;
    padding-right: 7px;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

/* profile */

.user-sex label {
    margin-left: 10px;
}

.user-sex label:first-of-type {
    margin-left: 0;
}

.user-sex label input {
    position: relative;
    top: 1px;
}

.profile-social span {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    background-color: #D5D5D5;
    border-radius: 50%;
    line-height: 24px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.profile-social svg {
    fill: #FFFFFF;
}

.profile-social-group {
    white-space: nowrap;
    overflow: hidden;
}

.profile-social-group .help-block {
    white-space: normal;
}

.profile-social-input {
    position: relative;
    top: 1px;
    border: none;
    border-bottom: 1px solid #F0F0F0;
}

/* user view */

.user-info svg {
    margin-right: 10px;
    fill: #CCCCCC;
}

.profile-main {
    min-height: 132px;
    margin-top: -1px;
    padding: 15px 0 10px 120px;
    border-bottom: 1px solid #DDDDDD;
}

.profile-main a {
    color: #333333;
}

.profile-main img {
    position: absolute;
    margin-top: 7px;
    margin-left: -120px;
    border-radius: 50%;
}

.profile-main h1 {
    margin: 0 0 0.182em 0;
    font-size: 156.25%;
    line-height: 1.36;
}

.profile-main h3 {
    display: inline;
    margin: 5px 0;
    font-size: 118.75%;
    line-height: 1.3684;
}

.profile-main p {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 93.75%;
    line-height: 1.4666;
    color: #9D9D9D;
}

.profile-main ul {
    margin: 0.467em 0 0 0;
    padding: 0;
}

.profile-main ul:after {
    content: "";
    display: table;
    clear: both;
}

.profile-main li {
    float: left;
    margin-right: 5px;
    list-style: none;
}

.profile-main li a {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #D5D5D5;
    line-height: 24px;
    text-align: center;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
}

.profile-main li a:hover,
.profile-main li a:active {
    background-color: #C8C8C8;
}

.profile-main li svg {
    fill: #FFFFFF;
    margin-right: 0;
}

.profile-extend {
    padding-right: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #DDDDDD;
}

.profile-comments {
    margin-top: 50px;
}

.profile-comments article {
    padding-right: 2em;
    border-top: 1px solid #DDDDDD;
}

.profile-comments h3 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 125%;
    line-height: 1.4;
    color: #505050;
}

.profile-comments article {
    padding-top: 10px;
    padding-bottom: 5px;
}

.profile-comments p {
    margin: 10px 0 10px 30px;
}

.profile-comment-info {
    color: #999999;
}

.profile-comment-info a {
    color: #999999;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}

.profile-comment-info a:hover,
.profile-comment-info a:active {
    color: #666666;
}

.profile-comments .next {
    display: block;
    margin-top: 4px;
    background-color: #9D9D9D;
    line-height: 2;
    font-size: 131.25%;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 992px) {
    .narrow {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    .search-form {
        right: 10px;
    }
}

@media (max-width: 620px) {
    .article-area article {
        width: 100%;
    }

    .article-area article img {
        max-width: 100%;
        height: auto;
    }

    .post-feed-wrapper {
        width: 100%;
    }

    .post-feed-wrapper img {
        max-width: 100%;
        height: auto;
    }
}