/* post */

.lg-outer .lg-thumb {
    margin: 0 auto;
}

.article-similar .owl-item li {
    width: 100%;
}

.comment-user {
    margin: 15px 0;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    background-color: #F6F6F6;
    text-align: left;
}

.vk-auth {
    display: none;
}

.site-auth {
    padding: 4px 15px 15px 15px;
}

.profile {
    display: none;
    padding: 15px;
}

.field-commentform-email {
    padding-top: 15px;
}

.with-vk .comment-user {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    width: 100%;
}

.with-vk .vk-auth, .with-vk .site-auth {
    display: table-cell;
    vertical-align: middle;
}

.with-vk .vk-auth {
    width: 210px;
    padding: 15px 25px 15px 15px;
    border-right: 1px solid #E6E6E6;
}

.with-vk .site-auth {
    padding-left: 25px;
}

.with-vk .field-commentform-email:before {
    content: "или";
    float: left;
    margin-top: -19px;
    margin-left: -38px;
    font-size: 93.75%;
    line-height: 1.666;
    color: #9D9D9D;
    background-color: #F6F6F6;
}

.with-profile .site-auth {
    display: none;
}

.with-profile .profile {
    display: block;
}

.comments form {
    margin-top: 25px;
    margin-bottom: -25px;
    padding-bottom: 25px;
}

.comments label {
    font-size: 93.75%;
    line-height: 1.466;
    color: #9D9D9D;
}

.comments form.is-reply .reply {
    display: inline;
}

/* profile */

.ui-widget {
    font-family: "PT Serif", Georgia, "Times New Roman", serif;
    font-size: 100%;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

.ui-widget-header {
    background-image: none;
    background-color: transparent;
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background-image: none;
}